pyTelegramBotAPI==4.14.0
requests==2.31.0
httpx==0.25.2
cloudscraper==1.2.71
curl_cffi==0.5.10
beautifulsoup4==4.12.2
fake-useragent==1.4.0
faker==20.1.0
cryptography==41.0.7
qrcode==7.4.2
Pillow==10.1.0
python-dotenv==1.0.0
pytz==2023.3
aiohttp==3.9.1
cachetools==5.3.1
urllib3==2.1.0
typing-extensions==4.9.0
user_agent
